header{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
/* consigna 1 */
.contenedor{
    height: 50px;
    width: 100%;
    background-color: #aba9a9;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.enlaces{
    padding-top: 10px;
    font-size: 25px;
    width: 10%;
}
.enlaces6{
    padding-top: 10px;
    font-size: 25px;
    flex-grow: 1;
}
.contenedor7{
    width: 300px; 
    background-color: #aba9a9;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}
/* Consigna 8 */
.granContenedor{
    width: 1200px;
}
.titulo{
    background-color: purple;
    height: 50px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}
.contenedo{
    display: flex;
}
.contenedo>.cont,.cont2,.cont3{
    width: 400px;
    background-color: cyan;
    margin: 15px;
}

.cont3{
    padding-top: 15px;
}
.cont3>button{
    height: 22px;
}
.botones{
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

